*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2

}
.content{
    height: 430px;
    width: 390px;
    margin: auto;
    background-color: #fff;
    display: block;
    padding: 50px 40px ;
    margin-top: 90px;
    border-radius: 10px;
    position: relative;
}

img{
    height: 120px;
    width: 120px;
    position: absolute;
    left: 35%;
    top: 25px;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    border-radius: 10px;
    position: relative;
}

input{
    height: 40px;
    width: 99%;
    border: none;
    border-bottom: 1.5px solid rgb(182, 175, 175);
    margin-top: 15px;
    margin-bottom: 20px;
    /* font-family: Tahoma; */
}

input:focus{
    outline: none;
}

button{
    top: 170px;
    color: white;
    font-weight: 600;
    width: 95%;
    height: 45px;
    margin-top: 10px;
    font-size: 15px;
    border: none;
    position: absolute;
    border-radius: 200px;
    font: Poppins-Medium;
    background: -webkit-linear-gradient(right, #F9452D, #F7772F)
}


button:hover{
    background: -webkit-linear-gradient(right, #F7772F, #F9452D)
}


a{
    position: absolute;
    left: 215px;
    top: 135px;
    font-size: 11px;
    color: #7a7878;
    font-family: Tahoma;
}